.Nav {
    height: 8vh;
    width: 100%;
    font-family: "Prata";
    box-shadow: 0px -3px 5px rgb(203, 203, 203);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    bottom: 0px;
    padding-right: 50px;
}

.Link {
    padding: 0px 5px;
    color: rgba(var(--red1), 1);
    text-decoration: none;
}

.Link:active {
    color: rgba(var(--red2), 1);
}
.Link:visited {
    color: rgba(var(--red1), 1);
}

.ActiveLink {
    padding: 0px 5px;
    color: rgba(var(--red2), 1);
    text-decoration: none;
}
