:root {
    --red1: 218, 20, 25;
    --red2: 198, 156, 156;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --grey1: 237, 237, 237;
    --grey2: 214, 214, 214;
    --grey3: 154, 154, 154;
}

.loader {
    height: 34px;
    width: 34px;
    border-width: 4px;
    border-color: rgba(var(--red1), 1);
    border-style: solid;
    border-top-color: transparent;
    border-radius: 9999px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
